DrData/DrData/DrData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
    DrData.xsd - This XML Schema representation of data storage DrData in xml format, 1.0.1, April 20, 2014
    Copyright (c) 2013-2014 Kudryashov Andrey aka Dr
    Kudryashov Andrey <kudryashov.andrey at gmail.com>
  -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DDNode">
    <xs:annotation>
      <xs:documentation>Hierarchy data warehouse</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="DDAttributesCollection" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="DDNode" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string" use="required" >
        <xs:annotation>
          <xs:documentation>Name of node. This attribute is required.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="IsRoot" type="xs:boolean" use="optional" default="false">
        <xs:annotation>
          <xs:documentation>Attribute exhibition on the root node. This attribute is optional and by default value is 'false'. This attribute information and is not used when creating an object.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Children" type="xs:int" use="optional" default="0" >
        <xs:annotation>
          <xs:documentation>Attribute informs about the number of children node. This attribute is optional and by default value is '0'. This attribute information and is not used when creating an object.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:anyAttribute processContents="skip" />
    </xs:complexType>
  </xs:element>

  <xs:element name="DDAttributesCollection">
    <xs:annotation>
      <xs:documentation>Represents a named collection of DDValue.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="Attribute" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="Count" type="xs:int" use="optional" default="0" >
        <xs:annotation>
          <xs:documentation>Attribute informs about the number of attributes in collection. This attribute is optional and by default value is '0'. This attribute information and is not used when creating an object.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:anyAttribute processContents="skip" />
    </xs:complexType>
  </xs:element>

  <xs:element name="Attribute">
    <xs:annotation>
      <xs:documentation>Represents access by name to DDValue.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="DDValue" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="Name" type="xs:string" use="required" >
        <xs:annotation>
          <xs:documentation>Name of attribute. This attribute is required.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:anyAttribute processContents="skip" />
    </xs:complexType>
  </xs:element>

  <xs:element name="DDValue">
    <xs:annotation>
      <xs:documentation>Data warehouse.</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="Value" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute ref="Type" use="required" >
        <xs:annotation>
          <xs:documentation>Data type.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="Size" use="optional" default="0">
        <xs:annotation>
          <xs:documentation>Attribute informs about the size of value. This attribute is optional and by default value is '0'. This attribute information and is not used when creating an object.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:anyAttribute processContents="skip" />
    </xs:complexType>
  </xs:element>

  <xs:element name="Value">
    <xs:annotation>
      <xs:documentation>Element of array.</xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:attribute name="Type">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="System.Char"/>
        <xs:enumeration value="System.Char[]"/>
        <xs:enumeration value="System.String"/>
        <xs:enumeration value="System.String[]"/>
        <xs:enumeration value="System.Boolean"/>
        <xs:enumeration value="System.Boolean[]"/>
        <xs:enumeration value="System.String[]"/>
        <xs:enumeration value="System.Int32"/>
        <xs:enumeration value="System.Int32[]"/>
        <xs:enumeration value="System.Single"/>
        <xs:enumeration value="System.Single[]"/>
        <xs:enumeration value="System.Int64"/>
        <xs:enumeration value="System.Int64[]"/>
        <xs:enumeration value="System.DateTime"/>
        <xs:enumeration value="System.DateTime[]"/>
        <xs:enumeration value="System.Byte"/>
        <xs:enumeration value="System.Byte[]"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>

</xs:schema>
